/* Dashboard.css */

.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dash-content {
  flex-grow: 1;
  padding: 20px 100px 20px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  columns: 12;
}

.tile {
  background-color: #34495e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile-max {
  grid-column: span 2; /* This tile will span two columns */
}

.tile-pie {
  grid-column: span 1; /* This tile will span two columns */
}

.tile-2 {
  grid-column: span 1; /* This tile will span two columns */
}

.tile h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

.tile .chart-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.tile h2 span {
  font-size: 0.8em;
  color: #bdc3c7;
  display: block;
}

.dash-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.tooltip-inner {
  max-width: 10px;
}

@media screen and (max-width: 768px) {
  .dash-content {
    padding: 10px;
    grid-template-columns: 1fr;
  }
}
